body {
    font-family: sans-serif;
    background-color: rgb(32, 32, 32);
}

main {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
    gap: 50px;
}

main h1 {
    color: white;
}

#player_box {
    background-color: #1d90ff;
    border: solid;

}

#computer_box {
    background-color: #1d90ff;
    border: solid;

}


#price {
    padding: 30px;
    color: rgb(32, 32, 32);
    font-weight: 700;
    text-transform: uppercase;
    background-color: #f29e33;
}